body{
    background: #e3e3e3;
}
#root{
    background: #fff;
    width: 50%;
    margin: 20px auto;
    border-radius: 4px;
    height: 600px;
    overflow-y: auto;
}

@media all and (max-width: 680px) {
    #root {
        width: 90%;
    }
}